{% extends 'base.html.twig' %}

{% block title %}
  Voir les jeux
{% endblock %}

{% block body %}
  <div class="wrapper">
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="flash-{{ label }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}

    <h1>
      Voir les jeux
    </h1>
    {% for boardgame in boardgames %}
      {{ include('board_game/_board_game.html.twig') }}
    {% endfor %}
  </div>
{% endblock %}
